<!-- Vendor JS Files -->
<script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/glightbox/js/glightbox.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/isotope-layout/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/swiper/swiper-bundle.min.js') }}"></script>

<!-- Template Main JS File -->
<script src="{{ url_for('static', filename='js/client.js') }}"></script>