<!-- Vendor JS Files -->
<script src="lib/apexcharts/apexcharts.min.js"></script>
<script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="lib/chart.js/chart.min.js"></script>
<script src="lib/echarts/echarts.min.js"></script>
<script src="{{ url_for('static', filename='lib/quill/quill.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/simple-datatables/simple-datatables.js') }}"></script>
<script src="{{ url_for('static', filename='lib/tinymce/tinymce.min.js') }}"></script>

<!-- Template Main JS File -->
<script src="{{ url_for('static', filename='/js/main.js') }}"></script>